################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/apps/SantasEnergieLeveler/.vs
/apps/SantasEnergieLeveler/bin/Debug/net8.0
/apps/SantasEnergieLeveler/obj/Debug/net8.0
/apps/SantasEnergieLeveler/obj
